.flex {
    display: flex;
    width: 380px;
    text-align: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 1px;
    
    border:1px solid #25333a;
    border-radius: 20px;
    
}
.flex.active {
    display: flex;
    width: 225px;
    height: 25px;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
}
h1{font-size:40px;
    font-family: sans-serif;
    color:rgb(236, 114, 114);
    text-align: center;
    text-shadow: 2px 2px 5px #fff;
    opacity: 50%;
}
p{
    font-family: sans-serif;
    
    text-align: center;
}
body {
    
    color: #000000;
}
.tasks-counter {
    margin: 0 auto;
    justify-content: space-around;
    
    padding: 10px;
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 5;
    border-radius: 20px;
}
.none {
    display: none;
}
.pagination {
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    max-width:100%;
    border-radius: 5px;
}
.page {
   
    display: inline-block;
   
    border: 1px solid;
    margin:  1px;
    
    border-radius: 15px;
}
.info {
    font-size: 10px;
    color: #b8abab;
    text-shadow: 0 1px 0 #25333a;
}

