.flex {
    display: flex;
    width: 225px;
    height: 25px;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
}
h1{font-size:40px;
    font-family: sans-serif;
    color:rgb(236, 114, 114);
    text-align: center;
    text-shadow: 2px 2px 5px #fff;
    opacity: 60%;
}
body {
    text-align: center;
   
}
.btn:hover{
    background-color:rgb(236, 114, 114);
    color:#fff;
}


.tasks-counter {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 500px;
    padding: 10px;
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif
}